<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cadastro de Especialidade</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Cadastro de Especialidade</h2>
        <form action="criar-especialidade" method="POST">
            <div class="form-group">
                <label for="inputNomeEspecialidade">Nome da Especialidade</label>
                <input type="text" class="form-control" id="inputNomeEspecialidade" placeholder="Digite o nome" name="especialidade"
                    required>
            </div>

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

        <h2 class="text-center">Alteração de Especialidade</h2>
        <% especialidades.forEach((especialidade) => { %>
            <form action="alterar-especialidade" method="POST">
                <!-- ID da especialidade que fica escondido -->
                <input readonly value="<%= especialidade.ID %>" type="text" class="form-control d-none" id="id" name="id">

                <div class="form-group">
                    <label for="inputNomeEspecialidade">Nome da Especialidade</label>
                    <input type="text" class="form-control" id="inputNomeEspecialidade" placeholder="Digite o nome" name="especialidade" value="<%= especialidade.NomeEspecialidade %>" required>
                </div>
    
                <button type="submit" class="btn btn-secondary" name="acao" value="alterar">Alterar</button>
                <button type="submit" class="btn btn-danger" name="acao" value="excluir">Excluir</button>
           </form>
        <% }); %>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
