<!DOCTYPE html>
<html lang="en">

<head>
  <title>Consultório Médico</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container d-flex justify-content-center align-items-center flex-column mt-5 ">
    <h2 class="text-center">Login de Usuário</h2>
    <form class="w-50 mt-5" method="post" action="logar-usuario">
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input class="form-control" type="email" id="inputEmail" name="email" />
      </div>
      <div class="form-group">
        <label for="inputSenha">Senha</label>
        <input class="form-control" type="password" id="inputSenha" name="senha" />
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <% if (erro) { %>
      <div class="alert alert-danger" role="alert">
        <%= erro %>
      </div>
      <% } %>

        <p>Não tem uma conta? <a href="/">Cadastrar</a></p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>